<!--
<d3-bar [cfg]="this.barConfig"></d3-bar>
<d3-pie [cfg]="this.pieConfig"></d3-pie>
<d3-scatter></d3-scatter>
-->
<div class="bg-blue-100 fixed w-full h-full text-center gap-4 p-8 grid font-mono">
    <div class="w-full grid grid-cols-1">
        <h1 class="text-5xl">VR NetWorld UmsatzExport Charter</h1>
    </div>
    <div class="w-full grid grid-rows-2" *ngIf="this.auswertungAktiv">
        <div class="grid grid-cols-2">
            <div>
                <span>Bitte Datenpaket (Größe: {{this.GetPaketSize()}}) auswählen: </span>
            </div>
            <div>
                <select (change)="this.HandleSelectPaket($event)">
                    <option *ngFor="let paket of this.GetPaketRangeList()">{{paket}}</option>
                </select>
            </div>
        </div>
        <div class="grid grid-cols-2">
            <div>
                <h3 class="text-center text-2xl">Charts</h3>
            </div>
            <div>
                <h3 class="text-center text-2xl">Übersicht</h3>
                <app-uebersicht></app-uebersicht>
            </div>
        </div>
    </div>
    <div class="w-full grid grid-cols-2 h-10">
        <div>
            <form [formGroup]="this.uploadForm" (ngSubmit)="this.HandleFileSubmit()">
                <div class="grid grid-rows-3 grid-cols-1 gap-1">
                    <div>
                        <span class="text-2xl underline">Export hochladen</span><br>
                    </div>
                    <div>
                        <input type="file" id="file" (change)="this.HandleFileInputUpdate($event)">
                    </div>
                    <div>
                        <input class="bg-white-500 hover:bg-white-700 text-black font-bold mr-2 py-2 px-4 rounded" (change)="this.SetPaketSize($event)" id="paketGroeße" type="text" placeholder="Paketgröße">
                        <input class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" type="submit" value="Einlesen">
                    </div>
                </div>
            </form>
        </div>
        <div>
            <p>VR-NetWorld UmsatzExport Charter</p>
            <p>MIT Lizenz | 2021 (&copy;) Oliver Karger // Infernitas-SE</p>
            <p><i>Client-only</i></p>
        </div>
    </div>
</div>
